div {
  width: 100%;
  background-color: grey;
  height: 50px;
  margin: 0; }

h1 {
  margin: 0; }

input:focus, button:focus {
  outline: none; }

input:hover, button:hover {
  cursor: pointer; }

span {
  display: block; }
  span h1 {
    font-family: "RalewayLight";
    font-size: 50px; }
    span h1:after {
      content: '';
      display: block;
      height: 3px;
      width: 80px;
      background-color: #ff8b38;
      margin-top: 30px; }
  span p {
    font-family: "OpenSansRegular";
    font-size: 20px;
    color: #86878b; }

.menu {
  background-color: black;
  color: white;
  height: 80px;
  display: flex;
  justify-content: space-between; }
  .menu .logo {
    position: relative;
    width: 120px;
    margin: 20px;
    margin-left: 10%; }
  .menu ul {
    list-style-type: none;
    margin: auto;
    margin-right: 13%;
    padding: 0; }
    .menu ul li {
      margin-right: 30px;
      display: inline;
      padding: 10px;
      font-family: "OpenSansSemibold"; }

.description {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/city_bg.jpg");
  height: 800px;
  display: flex;
  justify-content: space-around; }
  @media screen and (max-width: 1200px) {
    .description {
      height: 100%;
      padding-bottom: 5%;
      flex-direction: column;
      justify-content: center; } }
  .description .left_info {
    width: 50%;
    background: none;
    padding: 0;
    margin-left: 10%;
    margin-top: 5%;
    height: 100%; }
    @media screen and (max-width: 1200px) {
      .description .left_info {
        height: 1000px;
        margin: 50px auto; } }
    .description .left_info .logo {
      margin-top: 10%;
      width: 220px;
      height: 80px; }
    .description .left_info .desc1 {
      font-family: "RalewayRegular";
      color: white;
      font-size: 48px;
      display: block;
      margin-top: 20px;
      width: 74%;
      background: none; }
      .description .left_info .desc1:after {
        content: '';
        display: block;
        height: 2px;
        width: 75px;
        background-color: white;
        margin-top: 40px;
        margin-left: 7px; }
    .description .left_info .desc2 {
      font-family: "RalewayLight";
      color: white;
      display: block;
      width: 80%;
      font-size: 25px;
      margin-top: 40px;
      background: none; }
    .description .left_info button {
      background: none;
      margin-top: 50px;
      height: 55px;
      width: 170px;
      border: white 2px solid;
      color: white;
      font-family: "OpenSansSemibold";
      font-size: 18px; }
  .description .signup {
    height: 500px;
    background-color: white;
    width: 25%;
    margin-right: 10%;
    margin-top: 200px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap; }
    @media screen and (max-width: 1200px) {
      .description .signup {
        margin: 0 auto;
        width: 40%; } }
    .description .signup .header {
      background-color: #f5f5f5;
      font-family: "OpenSansBold";
      font-size: 25px;
      text-align: center;
      height: 70px;
      line-height: 70px;
      vertical-align: middle;
      border-radius: 6px; }
      .description .signup .header span {
        display: inline; }
      .description .signup .header .orange {
        color: #ff8b38; }
    .description .signup .input {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      background: none; }
      .description .signup .input .in {
        margin: 30px;
        margin-left: 10%;
        width: 75%;
        border: 0;
        padding: 5px;
        height: 20px;
        font-size: 20px;
        font-family: "OpenSansRegular";
        border-bottom: 2px solid #f5f5f5; }
        .description .signup .input .in:after {
          content: '';
          display: block;
          background-color: grey;
          height: 2px;
          width: 100%; }
    .description .signup .submit {
      height: 100px;
      background-color: #ff8b38;
      border: 0;
      border-radius: 0px 0px 6px 6px;
      color: white;
      font-family: "OpenSansSemibold";
      font-size: 20px; }
      .description .signup .submit:hover {
        cursor: pointer; }

.social {
  height: 130px;
  background-color: white;
  padding-top: 25px; }
  .social .text {
    font-family: "OpenSansRegular";
    background: none;
    font-size: 23px;
    width: 35%;
    margin-left: 10%;
    color: #86878b; }
    .social .text .header {
      font-family: "OpenSansBold";
      font-size: 27px;
      display: block;
      color: black; }

.download {
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #f5f5f5;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 1200px) {
    .download {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-bottom: 5%; } }
  @media screen and (max-width: 1200px) {
    .download > * {
      margin: 20px 0px 20px 0px; } }
  .download div {
    height: 100%;
    width: 30%;
    padding-top: 250px; }
  .download .tabs {
    background: none;
    padding: 0;
    padding-left: 10%;
    margin-right: -15%;
    width: 100%; }
    @media screen and (max-width: 1200px) {
      .download .tabs {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center; } }
    .download .tabs .tab {
      background-color: #333333;
      height: 150px;
      width: 150px;
      margin: 1px;
      color: white;
      font-family: "OpenSansBold";
      text-align: center;
      line-height: 150px;
      vertical-align: middle;
      padding: 0; }
  .download .description {
    background: none;
    padding: 0;
    padding-left: 0px;
    width: 100%;
    display: block; }
    @media screen and (max-width: 1200px) {
      .download .description {
        width: 40%; } }
    .download .description h1 {
      font-family: "OpenSansBold"; }
    .download .description p {
      font-family: "OpenSansRegular";
      font-size: 20px;
      color: #86878b; }
    .download .description button {
      height: 60px;
      width: 170px;
      background-color: #ff8b38;
      color: white;
      font-family: "OpenSansSemibold";
      border: none;
      border-radius: 5px;
      font-size: 20px; }
  .download .city {
    background: none;
    padding: 0;
    text-align: center;
    width: 100%; }
    .download .city img {
      width: 400px; }

.sublist {
  height: 100%;
  background-color: white;
  display: flex;
  margin: 0;
  padding-top: 10%;
  padding-bottom: 10%; }
  @media screen and (max-width: 1200px) {
    .sublist {
      flex-direction: column; } }
  .sublist .left {
    margin: auto;
    text-align: center; }
  .sublist .right {
    padding-right: 10%;
    width: 60%; }
    @media screen and (max-width: 1200px) {
      .sublist .right {
        margin: auto; } }
    .sublist .right .download {
      margin-top: 10px;
      flex-direction: row; }
    .sublist .right .main {
      font-family: "OpenSansBold"; }
      .sublist .right .main:after {
        content: '';
        display: block;
        height: 3px;
        width: 100px;
        background-color: #ff8b38;
        margin-top: 35px; }
    .sublist .right div {
      width: 100%;
      height: 150px;
      display: flex;
      align-items: flex-start;
      margin: 0;
      padding: 0; }
      .sublist .right div img {
        margin-right: 30px;
        width: 50px;
        height: 50px; }
      .sublist .right div span {
        width: 80%; }
        .sublist .right div span h1 {
          font-family: "OpenSansBold";
          font-size: 18px; }
        .sublist .right div span p {
          font-size: 18px; }
    .sublist .right p {
      font-family: "OpenSansRegular";
      font-size: 20px;
      color: #86878b; }
  .sublist div {
    background: none;
    height: 100%; }

.standard {
  background-color: #f5f5f5;
  display: flex;
  height: 100%; }
  @media screen and (max-width: 1200px) {
    .standard {
      flex-direction: column; } }
  .standard div {
    height: 100%;
    background: none; }
    .standard div h1 {
      font-family: "OpenSansBold"; }
      .standard div h1:after {
        content: '';
        display: block;
        height: 3px;
        width: 100px;
        background-color: #ff8b38;
        margin-top: 35px; }
    .standard div p {
      font-family: "OpenSansRegular";
      font-size: 20px;
      color: #86878b; }
  .standard .right {
    text-align: center;
    height: 100%; }
  .standard .left {
    padding-left: 10%;
    width: 70%;
    padding-top: 150px; }

.awesome {
  height: 800px;
  background-color: white; }
  .awesome span {
    display: block;
    margin: 100px;
    text-align: center; }
    .awesome span h1 {
      font-family: "RalewayLight";
      font-size: 50px; }
      .awesome span h1:after {
        content: '';
        display: block;
        height: 3px;
        width: 80px;
        background-color: #ff8b38;
        margin: auto;
        margin-top: 30px; }
    .awesome span p {
      font-family: "OpenSansRegular";
      font-size: 20px;
      color: #86878b; }
  .awesome .reasons {
    background: none;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 50px; }
    .awesome .reasons .reason {
      background: none;
      height: 100%;
      position: relative;
      width: 25%;
      margin: 0 5px; }
      .awesome .reasons .reason span {
        margin-top: 20px; }
        .awesome .reasons .reason span h1 {
          font-family: "OpenSansBold";
          font-size: 30px; }
      .awesome .reasons .reason img {
        height: 90px;
        width: 90px;
        margin-left: calc(50% - 45px); }

.price {
  height: 1100px;
  background-color: #f5f5f5;
  padding-top: 100px; }
  .price span {
    display: block;
    text-align: center;
    background: none; }
    .price span h1:after {
      margin: 30px auto; }
  .price .options {
    height: 100%;
    display: flex;
    justify-content: center;
    background: none; }
    .price .options .option {
      height: 100%;
      background: none;
      margin-top: 200px;
      align: center;
      width: 500px; }
      .price .options .option .header {
        background-color: #333333;
        color: white;
        font-family: "OpenSansBold";
        font-size: 25px;
        text-align: center;
        height: 70px;
        width: 450px;
        line-height: 70px;
        vertical-align: middle;
        margin: auto; }
      .price .options .option .price {
        height: 240px;
        background-color: #333333;
        width: 450px;
        text-align: center;
        margin: auto;
        margin-top: 1px;
        font-family: "RalewayBold";
        color: white;
        font-size: 90px;
        padding-top: 0; }
        .price .options .option .price span {
          display: inline;
          font-size: 150px; }
        .price .options .option .price .desc {
          font-family: "OpenSansSemiboldItalic";
          font-size: 20px;
          color: #86878b;
          display: block;
          margin-bottom: 5px; }
      .price .options .option .bottom {
        height: 5px;
        width: 450px;
        background-color: #ff8b38;
        margin: auto; }
      .price .options .option ul {
        list-style-type: none;
        width: 450px;
        margin: auto;
        padding: 0; }
        .price .options .option ul li {
          text-align: center;
          font-family: "OpenSansRegular";
          color: #86878b;
          height: 50px;
          line-height: 50px;
          vertical-align: middle;
          background-color: white;
          margin-bottom: 1px; }
    .price .options .popular .header {
      margin-top: -40px; }
    .price .options .popular .bottom {
      height: 45px;
      text-align: center;
      line-height: 45px;
      vertical-align: middle;
      color: white;
      font-family: "OpenSansBold"; }

body {
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

@font-face {
  font-family: "OpenSansSemibold";
  src: url("../fonts/OpenSans-Semibold.ttf"); }

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/RalewayRegular.ttf"); }

@font-face {
  font-family: "RalewayLight";
  src: url("../fonts/RalewayLight.ttf"); }

@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/RalewayBold.ttf"); }

@font-face {
  font-family: "OpenSansSemiboldItalic";
  src: url("../fonts/OpenSans-SemiboldItalic.ttf"); }
