h1 {
  margin: 0; }

input:focus, button:focus {
  outline: none; }

button:hover {
  cursor: pointer; }

span {
  display: block; }
  span h1 {
    font-family: "RalewayLight";
    font-size: 50px; }
  span p {
    font-family: "OpenSansRegular";
    font-size: 20px;
    color: #86878b; }

.menu {
  background-color: black;
  color: white;
  height: 80px;
  display: flex;
  justify-content: space-between; }
  .menu .logo {
    position: relative;
    width: 120px;
    margin: 20px;
    margin-left: 10%; }
  .menu ul {
    list-style-type: none;
    margin: auto;
    margin-right: 13%;
    padding: 0; }
    .menu ul li {
      margin-right: 30px;
      display: inline;
      padding: 10px;
      font-family: "OpenSansSemibold"; }

.description {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/city_bg.jpg");
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  padding-bottom: 5%; }
  @media screen and (max-width: 1200px) {
    .description {
      height: 100%;
      padding-bottom: 5%;
      flex-direction: column;
      justify-content: center; } }
  .description .left_info {
    width: 80%;
    background: none;
    padding: 0;
    margin-left: 10%;
    margin-right: 5%;
    height: 100%; }
    @media screen and (max-width: 1200px) {
      .description .left_info {
        margin: 50px auto; } }
    @media screen and (max-width: 1200px) {
      .description .left_info * {
        margin: auto;
        text-align: center;
        display: block; } }
    .description .left_info .logo {
      width: 220px;
      height: 80px; }
    .description .left_info .desc1 {
      font-family: "RalewayRegular";
      color: white;
      font-size: 48px;
      display: block;
      margin-top: 20px;
      width: 100%;
      background: none; }
      .description .left_info .desc1:after {
        content: '';
        display: block;
        height: 2px;
        width: 75px;
        background-color: white;
        margin-top: 40px;
        margin-left: 7px; }
        @media screen and (max-width: 1200px) {
          .description .left_info .desc1:after {
            text-align: center;
            content: '';
            margin: 20px auto; } }
    .description .left_info .desc2 {
      font-family: "RalewayLight";
      color: white;
      display: block;
      width: 100%;
      font-size: 25px;
      margin-top: 40px;
      background: none; }
    .description .left_info button {
      background: none;
      margin-top: 50px;
      height: 55px;
      width: 170px;
      border: white 2px solid;
      color: white;
      font-family: "OpenSansSemibold";
      font-size: 18px; }
  .description .signup {
    height: 500px;
    background-color: white;
    width: 50%;
    margin-right: 5%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap; }
    @media screen and (max-width: 1200px) {
      .description .signup {
        margin: 0 auto;
        width: 60%; } }
    .description .signup .header {
      background-color: #f5f5f5;
      font-family: "OpenSansBold";
      font-size: 25px;
      text-align: center;
      height: 70px;
      line-height: 70px;
      vertical-align: middle;
      border-radius: 6px; }
      .description .signup .header span {
        display: inline; }
      .description .signup .header .orange {
        color: #ff8b38; }
    .description .signup .input {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      background: none; }
      .description .signup .input .in {
        margin: 30px;
        margin-left: 10%;
        width: 75%;
        border: 0;
        padding: 5px;
        height: 20px;
        font-size: 20px;
        font-family: "OpenSansRegular";
        border-bottom: 2px solid #f5f5f5; }
        .description .signup .input .in:after {
          content: '';
          display: block;
          background-color: grey;
          height: 2px;
          width: 100%; }
    .description .signup .submit {
      height: 100px;
      background-color: #ff8b38;
      border: 0;
      border-radius: 0px 0px 6px 6px;
      color: white;
      font-family: "OpenSansSemibold";
      font-size: 20px; }

.social {
  height: 130px;
  background-color: white;
  padding-top: 25px; }
  .social .text {
    font-family: "OpenSansRegular";
    background: none;
    font-size: 23px;
    width: 35%;
    margin-left: 10%;
    color: #86878b; }
    .social .text .header {
      font-family: "OpenSansBold";
      font-size: 27px;
      display: block;
      color: black; }

.download {
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #f5f5f5;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 1200px) {
    .download {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-bottom: 5%; } }
  @media screen and (max-width: 1200px) {
    .download > * {
      margin: 20px 0px 20px 0px; } }
  .download div {
    height: 100%;
    width: 30%;
    padding-top: 250px; }
  .download .tabs {
    background: none;
    padding: 0;
    padding-left: 10%;
    margin-right: -15%;
    width: 100%; }
    @media screen and (max-width: 1200px) {
      .download .tabs {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center; } }
    .download .tabs .tab {
      background-color: #333333;
      height: 150px;
      width: 150px;
      margin: 1px;
      color: white;
      font-family: "OpenSansBold";
      text-align: center;
      line-height: 150px;
      vertical-align: middle;
      padding: 0; }
  .download .description {
    background: none;
    padding: 0;
    padding-left: 0px;
    width: 100%;
    display: block;
    text-align: center; }
    @media screen and (max-width: 1200px) {
      .download .description {
        width: 40%; } }
    .download .description h1 {
      font-family: "OpenSansBold"; }
    .download .description p {
      font-family: "OpenSansRegular";
      font-size: 20px;
      color: #86878b; }
    .download .description button {
      height: 60px;
      width: 170px;
      background-color: #ff8b38;
      color: white;
      font-family: "OpenSansSemibold";
      border: none;
      border-radius: 5px;
      font-size: 20px; }
  .download .city {
    background: none;
    padding: 0;
    text-align: center;
    width: 100%; }
    .download .city img {
      width: 400px; }

.sublist {
  height: 100%;
  background-color: white;
  display: flex;
  margin: 0;
  padding-top: 10%;
  padding-bottom: 10%; }
  @media screen and (max-width: 1200px) {
    .sublist {
      flex-direction: column; } }
  .sublist .left {
    margin: auto;
    text-align: center; }
  .sublist .right {
    padding-right: 10%;
    width: 60%; }
    @media screen and (max-width: 1200px) {
      .sublist .right {
        margin: auto;
        padding: 0;
        text-align: center; } }
    .sublist .right .main {
      font-family: "OpenSansBold"; }
      .sublist .right .main:after {
        content: '';
        display: block;
        height: 3px;
        width: 100px;
        margin-top: 35px;
        background-color: #ff8b38; }
        @media screen and (max-width: 1200px) {
          .sublist .right .main:after {
            margin: 35px auto 0; } }
    .sublist .right div {
      width: 100%;
      display: flex;
      align-items: flex-start;
      margin: 0;
      padding: 0; }
      @media screen and (max-width: 1200px) {
        .sublist .right div {
          flex-direction: column;
          align-items: center; } }
      .sublist .right div img {
        display: block;
        margin-right: 30px;
        width: 50px;
        height: 50px; }
        @media screen and (max-width: 1200px) {
          .sublist .right div img {
            display: none; } }
      .sublist .right div span {
        width: 80%; }
        .sublist .right div span h1 {
          font-family: "OpenSansBold";
          font-size: 18px; }
        .sublist .right div span p {
          font-size: 18px; }
    .sublist .right p {
      font-family: "OpenSansRegular";
      font-size: 20px;
      color: #86878b; }
  .sublist div {
    background: none;
    height: 100%; }

.standard {
  background-color: #f5f5f5;
  display: flex;
  height: 100%; }
  @media screen and (max-width: 1200px) {
    .standard {
      flex-direction: column;
      text-align: center; } }
  .standard div {
    height: 100%;
    background: none; }
    .standard div h1 {
      font-family: "OpenSansBold"; }
      .standard div h1:after {
        content: '';
        display: block;
        height: 3px;
        width: 100px;
        background-color: #ff8b38;
        margin-top: 35px; }
        @media screen and (max-width: 1200px) {
          .standard div h1:after {
            margin: 35px auto 0; } }
    .standard div p {
      font-family: "OpenSansRegular";
      font-size: 20px;
      color: #86878b; }
  .standard .right {
    text-align: center;
    height: 100%; }
  .standard .left {
    padding-left: 10%;
    width: 100%;
    padding-top: 5%; }
    @media screen and (max-width: 1200px) {
      .standard .left {
        padding: 0;
        width: 50%;
        margin: 5% auto; } }

.awesome {
  height: 100%;
  background-color: white; }
  .awesome .why {
    display: block;
    text-align: center;
    margin: 5% auto 5%; }
    .awesome .why h1 {
      font-family: "RalewayLight";
      font-size: 50px; }
      .awesome .why h1:after {
        content: '';
        display: block;
        height: 3px;
        width: 80px;
        background-color: #ff8b38;
        margin: auto;
        margin-top: 30px; }
    .awesome .why p {
      font-family: "OpenSansRegular";
      font-size: 20px;
      color: #86878b; }
  .awesome .reasons {
    background: none;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 5%; }
    .awesome .reasons .reason {
      background: none;
      height: 100%;
      position: relative;
      width: 27%;
      margin: 0 5px;
      text-align: center; }
      .awesome .reasons .reason span {
        margin-top: 20px; }
        @media screen and (max-width: 1200px) {
          .awesome .reasons .reason span {
            text-align: center; } }
        .awesome .reasons .reason span h1 {
          font-family: "OpenSansBold";
          font-size: 30px; }
      .awesome .reasons .reason img {
        display: block;
        height: 90px;
        width: 90px;
        margin: auto; }

.price {
  height: 100%;
  background-color: #f5f5f5;
  padding: 5% 0 5%; }
  .price span {
    display: block;
    text-align: center;
    background: none; }
    .price span h1:after {
      content: '';
      display: block;
      height: 3px;
      width: 80px;
      background-color: #ff8b38;
      margin: auto;
      margin-top: 30px; }
  .price .options {
    height: 100%;
    display: flex;
    justify-content: center;
    background: none; }
    .price .options .option {
      height: 100%;
      background: none;
      margin: 10% 2% 0;
      align: center;
      width: 25%; }
      .price .options .option .header {
        background-color: #333333;
        color: white;
        font-family: "OpenSansBold";
        font-size: 25px;
        text-align: center;
        height: 70px;
        line-height: 70px;
        vertical-align: middle;
        margin: auto; }
      .price .options .option .price {
        height: 240px;
        background-color: #333333;
        text-align: center;
        margin: auto;
        margin-top: 1px;
        font-family: "RalewayBold";
        color: white;
        font-size: 90px;
        padding-top: 0; }
        .price .options .option .price span {
          display: inline;
          font-size: 150px; }
        .price .options .option .price .desc {
          font-family: "OpenSansSemiboldItalic";
          font-size: 20px;
          color: #86878b;
          display: block;
          margin-bottom: 5px; }
      .price .options .option .bottom {
        height: 5px;
        background-color: #ff8b38;
        margin: auto; }
      .price .options .option ul {
        list-style-type: none;
        margin: auto;
        padding: 0; }
        .price .options .option ul li {
          text-align: center;
          font-family: "OpenSansRegular";
          color: #86878b;
          height: 50px;
          line-height: 50px;
          vertical-align: middle;
          background-color: white;
          margin-bottom: 1px; }
    .price .options .popular .header {
      margin-top: -40px; }
    .price .options .popular .bottom {
      height: 45px;
      text-align: center;
      line-height: 45px;
      vertical-align: middle;
      color: white;
      font-family: "OpenSansBold"; }

.customers {
  background-color: white;
  height: 100%; }
  .customers .header {
    margin: 5% auto 5%; }
    .customers .header h1 {
      font-family: "RalewayLight";
      font-size: 50px;
      text-align: center; }
      .customers .header h1:after {
        content: '';
        display: block;
        height: 3px;
        width: 80px;
        background-color: #ff8b38;
        margin: auto;
        margin-top: 30px; }
    .customers .header p {
      font-family: "OpenSansRegular";
      font-size: 20px;
      color: #86878b;
      text-align: center; }
  .customers .feedback {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 5%; }
    .customers .feedback .comment {
      width: 20%;
      margin: 0 4%; }
      .customers .feedback .comment .words {
        font-family: "OpenSansItalic";
        color: #86878b;
        background-color: #f5f5f5;
        font-size: 20px;
        padding: 10% 5%; }
    .customers .feedback .customer {
      margin-top: 5%;
      display: flex;
      justify-content: flex-start; }
      .customers .feedback .customer > * {
        margin-right: 3%; }
      .customers .feedback .customer img {
        display: block; }
      .customers .feedback .customer h1 {
        width: 100%;
        font-family: "OpenSansBold";
        font-size: 20px;
        text-align: left; }
      .customers .feedback .customer p {
        font-size: 18px;
        font-family: "OpenSansRegular";
        color: #86878b;
        margin: 2px 0px; }

.stylish {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/city_bg_bottom.jpg");
  background-size: cover;
  padding: 5% 0 5%; }
  .stylish .header {
    background: none; }
    .stylish .header h1 {
      font-family: "RalewayLight";
      font-size: 50px;
      text-align: center;
      color: white; }
      .stylish .header h1:after {
        content: '';
        display: block;
        height: 3px;
        width: 80px;
        background-color: white;
        margin: auto;
        margin-top: 30px; }
    .stylish .header p {
      font-family: "OpenSansRegular";
      font-size: 20px;
      color: #86878b;
      text-align: center; }
  .stylish button {
    display: block;
    margin: auto;
    background: none;
    height: 55px;
    width: 170px;
    border: white 2px solid;
    color: white;
    font-family: "OpenSansSemibold";
    font-size: 18px; }

.contact {
  padding: 8% 0; }
  .contact .header {
    background: none; }
    .contact .header h1 {
      font-family: "RalewayLight";
      font-size: 50px;
      text-align: center; }
      .contact .header h1:after {
        content: '';
        display: block;
        height: 3px;
        width: 80px;
        background-color: #ff8b38;
        margin: auto;
        margin-top: 30px; }
    .contact .header p {
      font-family: "OpenSansRegular";
      font-size: 20px;
      color: #86878b;
      text-align: center; }
  .contact .fields {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .contact .fields div {
      width: 35%; }
    .contact .fields .info {
      display: flex;
      flex-direction: column; }
    .contact .fields .in {
      margin-bottom: 5%; }
      .contact .fields .in:last-child {
        margin-bottom: 0px; }
    .contact .fields .in {
      width: 100%;
      border: 0;
      padding: 5px;
      height: calc(33% - 2px);
      font-size: 20px;
      font-family: "OpenSansRegular";
      border-bottom: 2px solid #f5f5f5; }
    .contact .fields .message .in {
      height: calc(100% - 2px);
      padding: 0;
      resize: none;
      margin: 0; }
  .contact button {
    display: block;
    margin: 2% auto;
    width: 10%;
    height: 50px;
    background-color: #ff8b38;
    border: 0;
    border-radius: 6px;
    color: white;
    font-family: "OpenSansSemibold";
    font-size: 20px; }

body {
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

@font-face {
  font-family: "OpenSansSemibold";
  src: url("../fonts/OpenSans-Semibold.ttf"); }

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/RalewayRegular.ttf"); }

@font-face {
  font-family: "RalewayLight";
  src: url("../fonts/RalewayLight.ttf"); }

@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/RalewayBold.ttf"); }

@font-face {
  font-family: "OpenSansSemiboldItalic";
  src: url("../fonts/OpenSans-SemiboldItalic.ttf"); }

@font-face {
  font-family: "OpenSansItalic";
  src: url("../fonts/OpenSans-Italic.ttf"); }
